// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: red;
}

.biofab_logo {
  position: relative;
  width: 85px;
  height: 85px;
  background-image: image-url('images/biofab_logo.png');
}